
[submodule "Unreal/Plugins/SpatialRootHost/Source/ThirdParty/spatialroot-embedding"]
	path = Unreal/Plugins/SpatialRootHost/Source/ThirdParty/spatialroot-embedding
	url = https://github.com/lucianpar/spatialroot-embedding
	branch = devel
